.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
}

.button-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 30vw;
  height: 40vh;
}

.button-grid-item {
  background-color: aliceblue;
  width: 8.5vw;
  height: 10vh;
}
