.App {
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.controller {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  height: 50vh;
  width: 50vw;
}

.button-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  width: 30vw;
  height: 40vh;
  column-gap: 1.3vw;
  background-color: #f0f8ff;
  justify-content: center;
  align-items: center;
  border: 1px solid #000000;
}

.button-grid-item {
  background-color: #4eacff;
  box-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  width: 8.5vw;
  height: 10vh;
}

.button-grid-item:active {
  background-color: aqua;
  box-shadow: none;
}
